@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.hero {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: calc(5rem + 2vh) 1rem;
}
.heading {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
}
.article {
  background-color: white;
  margin: 0 20%;
  padding: 2rem;
  text-align: left;
  height: 200px;
}
.articleheading {
  font-weight: 600;
  font-size: 1.5rem;
}
.underline {
  border-bottom: 3px solid black;
  padding-bottom: 0.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.forminput {
  border: 1px solid rgba(128, 128, 128, 0.526);
  padding: 5px;
  width: 100%;
  /* margin-top: 1rem; */
}
.inputandsearchbtn {
  display: flex;
  align-items: center;
}
.searchBtn {
  margin-left: 1rem;
  padding: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  color: white;
  opacity: 0.9;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
