.article {
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  width: 370px;
  display: flex;
  flex-direction: column;
}

.homeimageandheartContainer {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.btnPadding {
  padding: 0;
  border: none;
  background: transparent;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
}

.div2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address {
  margin-top: 1rem;
}

.address,
.boligtype {
  font-size: 1.2rem;
  font-weight: 500;
}

.address,
.postalcodecontainer,
.boligtypecontainer,
.energylabelcontainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.boligtypecontainer {
  margin-top: 1rem;
}

.postalcodecontainer {
  gap: 5px;
  margin-top: 10px;
}

.energylabelcontainer {
  margin-top: 1rem;
}

.energylabel {
  padding: 3px 5px;
  margin-right: 1rem;
}

.rooms {
  margin-right: 2px;
}

.price {
  margin-left: auto;
  margin-right: 1rem;
}
