.filterboligerSection {
  padding: 0 20%;
}
.heading {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.headingFirstWord {
  border-bottom: 5px black solid;
  padding-bottom: 0.5rem;
}
.form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}
.formElement {
  display: flex;
  flex-direction: column;
}
.twowayslider {
  /* margin-top: 3rem; */
}

.ejendomstype {
  border: 1px solid silver;

  padding-left: 5px;
  padding-right: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.label {
  margin-bottom: 10px;
}
