.agentinfo {
  display: flex;
  gap: 2rem;
}
.agentimagecontainer {
  width: 500px;
  height: 400px;
}
.phoneandemail {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.twoparts {
  display: flex;
}

.transparency {
  opacity: 0.5;
}
.errorcontrol {
  color: red;
}

.form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus,
.textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.errorcontrol {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.transparency {
  opacity: 0.9;
}

.nameandemail {
  display: flex;
  gap: 3rem;
}
.formheading {
  margin: 1rem 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
