.agentsSection {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  text-align: center;
  background-color: #d5e0ea64;
  padding-top: 120px;
  padding-bottom: 7rem;
}
.heading {
  font-size: 2rem;
  font-weight: 500;
}
.text {
  width: 70%;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 62px;
  margin-bottom: 2rem;
}
.children {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
