.article {
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}
.article > * {
  margin-bottom: 0.5rem;
}
.image {
  max-width: 100%;
}
.address {
  margin-top: 1rem;
}
.address,
.boligtype {
  font-size: 1.2rem;
  font-weight: 500;
}
.address,
.postalcodecontainer,
.boligtypecontainer,
.energylabelcontainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.postalcodecontainer {
  gap: 5px;
}
.energylabel {
  padding: 3px 5px;
  margin-right: 1rem;
}
.rooms {
  margin-right: 2px;
}

.price {
  margin-left: auto;
  margin-right: 1rem;
}
