@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.introduction {
  margin-top: 118.57px;
  padding: 0 20%;
  display: flex;
  gap: 93px;
  align-items: stretch;
  margin-bottom: 2rem;
}
.headerheading {
  font-size: 2rem;
  font-weight: 500;
  width: 25rem;
}
.introductioncontainer {
  flex: 0 0 auto; /* Prevents shrinking or growing */
  height: auto; /* Remove fixed height */
  object-fit: cover; /* Ensures image scales proportionally */
  display: block;
}
.introductioncontainer img {
  width: 100%;
  height: 100%;
}
.articleheading {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.articleparagraph {
  margin: 1rem 0;
  line-height: 1.8rem;
}

.subarticles {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 0;
  gap: 5rem;
}
.hr {
  margin: 0 20%;
  margin-top: 70px;
  margin-bottom: 110px;
  background-color: #d3dee8;
  padding: 0.1px;
}
