@layer navigation {
  header {
    background-color: var(--dark-bg);
    color: var(--light-text);
    padding: 1rem 0;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: calc(100%-2rem);
      margin: auto;
      padding: 0 1rem;

      .logo {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .menu-toggle {
        svg {
          fill: var(--light-text);
        }
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
      .nav-links {
        display: none;
        background-color: var(--dark-bg);
        text-align: right;
        list-style: none;
        flex-direction: column;
        /* it means if nav-links have an active class then it will be flex */
        &.active {
          display: flex;
        }
        @media (width <=768px) {
          top: 60px;
          right: 0;
          width: 100%;
          position: absolute;
        }
        @media (width > 768px) {
          display: flex;
          flex-direction: row;
        }

        li {
          margin: 0;
          @media (width>768px) {
            margin-left: 1rem;
          }
          a {
            display: block;
            padding: 1rem;

            &:hover {
              @media (width<=768px) {
                background-color: var(--secondary-color);
              }
            }
            @media (width<=768px) {
              border-bottom: 1px solid var(--secondary-color);
              transition: background 0.3s, color 0.3s;
            }
            @media (width>768px) {
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}
