.section {
  width: 100%;
  /* height: 100px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: calc(5rem + 2vh) 1rem;
  /* background-color: rgba(0, 0, 128, 0.5); */
  background-color: rgba(0, 0, 0, 0.75);

  /* opacity: 0.8; */
}
.heading {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}
.imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.75);
}
